
<!DOCTYPE html>
<html>
  <head>
    <title>Welcome to Glitch!</title>
    <meta name="header-parser APP" content="Freecodecamp Backend challenge">
    <link id="favicon" rel="icon" href="https://glitch.com/edit/favicon-app.ico" type="image/x-icon">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/style.css">
  </head>
  <body>
    <h1 class="center">Request Header Parser Microservice</h1><h4 class="center"> - FreeCodeCamp Backend Challenge</h4>
    <h3 class="center"> A microservice which reads your request headers and returns JSON containing your client IP address, language and software.</h3>
    <div>
      <p> <span class="bold">User Story </span>: I can get the IP address, language and operating system for my browser. </p>  
      <p class="bold">Example Usage :</p>
      <code><a href="https://fcc-hdr-parser.glitch.me/whoami" target="_blank">https://fcc-hdr-parser.glitch.me/whoami</a></code>
      <p class="bold">Example Output :</p>
      <code>{
        "ip":"157.50.13.255",
        "software":"Mozilla/5.0 (Windows NT 6.3; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/63.0.3239.84 Safari/537.36",
        "language":"en-US,en"
        }
      </code>
    </div>   
  </body>
</html>
